<a href="https://colab.research.google.com/github/Knell999/HTML_CSS_JS/blob/main/13_%5BPandas%5D_%EB%B6%80%EB%8F%99%EC%82%B0_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%A0%84%EC%B2%98%EB%A6%AC.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

df = pd.read_csv("./data/seoul_house_price.csv")
df.head()

  지역명               규모구분    연도   월 분양가격(㎡)
0  서울                 전체  2015  10    5841
1  서울         전용면적 60㎡이하  2015  10    5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10    5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10    5721
4  서울        전용면적 102㎡초과  2015  10    5879

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   지역명      4505 non-null   object
 1   규모구분     4505 non-null   object
 2   연도       4505 non-null   int64
 3   월        4505 non-null   int64
 4   분양가격(㎡)  4210 non-null   object
dtypes: int64(2), object(3)
memory usage: 176.1+ KB

# 1. 컬럼 이름
- 분양가격(㎡) -> 분양가격

In [ ]:
df = df.rename(
    columns={"분양가격(㎡)": "분양가격"}
)

df.head()

  지역명               규모구분    연도   월  분양가격
0  서울                 전체  2015  10  5841
1  서울         전용면적 60㎡이하  2015  10  5652
2  서울   전용면적 60㎡초과 85㎡이하  2015  10  5882
3  서울  전용면적 85㎡초과 102㎡이하  2015  10  5721
4  서울        전용면적 102㎡초과  2015  10  5879

# 2. 데이터를 전체적으로 살펴보기

In [ ]:
# 결측치 확인하기
df.isna().sum()

지역명       0
규모구분      0
연도        0
월         0
분양가격    295
dtype: int64

In [ ]:
# 통계 정보 확인
df.describe()

                연도            월
count  4505.000000  4505.000000
mean   2017.452830     6.566038
std       1.311432     3.595519
min    2015.000000     1.000000
25%    2016.000000     3.000000
50%    2017.000000     7.000000
75%    2019.000000    10.000000
max    2020.000000    12.000000

통계값 확인에 의미가 없는 연도와 월에 대한 통계값만 나오는 것을 알 수 있다.

# 3. 분양가격 컬럼 살펴보기

In [ ]:
# NaN값이 있는 것도 확인. 데이터 타입도 문자열(object) 타입인 것을 확인
#  왜???
# for value in df['분양가격']:
#   print(value)
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '  '

In [ ]:
# 공백 제거
df['분양가격'] = df['분양가격'].str.strip()
df.loc[df['분양가격'] == '']

    지역명               규모구분    연도   월 분양가격
28   광주  전용면적 85㎡초과 102㎡이하  2015  10
29   광주        전용면적 102㎡초과  2015  10
34   대전        전용면적 102㎡초과  2015  10
81   제주         전용면적 60㎡이하  2015  10
113  광주  전용면적 85㎡초과 102㎡이하  2015  11
114  광주        전용면적 102㎡초과  2015  11
119  대전        전용면적 102㎡초과  2015  11
166  제주         전용면적 60㎡이하  2015  11
198  광주  전용면적 85㎡초과 102㎡이하  2015  12
199  광주        전용면적 102㎡초과  2015  12
204  대전        전용면적 102㎡초과  2015  12
251  제주         전용면적 60㎡이하  2015  12
283  광주  전용면적 85㎡초과 102㎡이하  2016   1
284  광주        전용면적 102㎡초과  2016   1
289  대전        전용면적 102㎡초과  2016   1
336  제주         전용면적 60㎡이하  2016   1

In [ ]:
# 비어있는 분양가격을 0으로 넣기
df.loc[df['분양가격']=='', '분양가격'] = 0

In [ ]:
df['분양가격'].astype(int)

ValueError: cannot convert float NaN to integer

In [ ]:
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '6,657'

In [ ]:
df['분양가격'] = df['분양가격'].str.replace(",", "")

In [ ]:
df['분양가격'].astype(int)

ValueError: cannot convert float NaN to integer

In [ ]:
df['분양가격'] = df['분양가격'].fillna(0)
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: '-'

In [ ]:
df['분양가격'] = df['분양가격'].str.replace("-","")
df['분양가격'] = df['분양가격'].fillna(0)

In [ ]:
df['분양가격'].astype(int)

ValueError: invalid literal for int() with base 10: ''

In [ ]:
df.loc[df['분양가격']=='', '분양가격'] = 0

In [ ]:
df['분양가격'] = df['분양가격'].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4505 entries, 0 to 4504
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역명     4505 non-null   object
 1   규모구분    4505 non-null   object
 2   연도      4505 non-null   int64
 3   월       4505 non-null   int64
 4   분양가격    4505 non-null   int64
dtypes: int64(3), object(2)
memory usage: 176.1+ KB

# "전용면적" 문자열 제거

In [ ]:
df['규모구분'] = df['규모구분'].str.replace("전용면적 ", "")
df['규모구분'].value_counts()

규모구분
전체              901
60㎡이하           901
60㎡초과 85㎡이하     901
85㎡초과 102㎡이하    901
102㎡초과          901
Name: count, dtype: int64

# 지역 별 평균 분양가격 확인하기

In [ ]:
df.groupby("지역명")["분양가격"].mean()

지역명
강원    2339.807547
경기    4072.667925
경남    2761.275472
경북    2432.128302
광주    2450.728302
대구    3538.920755
대전    2479.135849
부산    3679.920755
서울    7225.762264
세종    2815.098113
울산    1826.101887
인천    3578.433962
전남    2270.177358
전북    2322.060377
제주    2979.407547
충남    2388.324528
충북    2316.871698
Name: 분양가격, dtype: float64

In [ ]:
# 분양가격이 0인 행은 제외하고 집계
mask = df['분양가격'] > 0
df.loc[mask].groupby("지역명")["분양가격"].mean()

지역명
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

특정 조건에 만족하는 행을 제거하고자 할 때
 1. index를 list로 가져온다.
 2. drop을 활용하여 행을 제거 한다.

In [ ]:
idx = df.loc[df["분양가격"] == 0].index
idx

Index([  28,   29,   34,   81,  113,  114,  119,  166,  198,  199,
       ...
       4418, 4448, 4453, 4458, 4459, 4461, 4488, 4493, 4499, 4503],
      dtype='int64', length=320)

In [ ]:
df_0_drop = df.drop(idx, axis=0)

In [ ]:
df_0_drop.groupby("지역명")["분양가격"].mean()

지역명
강원    2412.642023
경기    4072.667925
경남    2814.376923
경북    2547.486166
광주    3049.028169
대구    3663.335938
대전    3128.433333
부산    3679.920755
서울    7225.762264
세종    2984.004000
울산    3043.503145
인천    3633.275862
전남    2304.969349
전북    2348.648855
제주    3432.795652
충남    2501.604743
충북    2316.871698
Name: 분양가격, dtype: float64

In [ ]:
(df_0_drop.groupby("지역명")["분양가격"].max() - df_0_drop.groupby("지역명")["분양가격"].min()).sort_values(ascending=False)

지역명
서울    8774
제주    3237
대구    2655
광주    2630
경기    2591
대전    2452
인천    2298
경남    2103
강원    1894
부산    1693
세종    1359
경북    1351
울산    1172
전북    1152
전남    1147
충남    1102
충북     987
Name: 분양가격, dtype: int64

In [ ]:
df_0_drop.groupby("연도")["분양가격"].mean()

연도
2015    2788.707819
2016    2934.250000
2017    3143.311795
2018    3326.951034
2019    3693.422149
2020    3853.960526
Name: 분양가격, dtype: float64

In [ ]:
# 연도별 규모구분 마다의 분양가격 평균 집계
df_0_drop.groupby(["연도", "규모구분"])["분양가격"].mean()

연도    규모구분
2015  102㎡초과          2980.977778
      60㎡이하           2712.583333
      60㎡초과 85㎡이하     2694.490196
      85㎡초과 102㎡이하    2884.395833
      전체              2694.862745
2016  102㎡초과          3148.099476
      60㎡이하           2848.144279
      60㎡초과 85㎡이하     2816.965686
      85㎡초과 102㎡이하    3067.380435
      전체              2816.073529
2017  102㎡초과          3427.649746
      60㎡이하           3112.538071
      60㎡초과 85㎡이하     2981.950980
      85㎡초과 102㎡이하    3204.075145
      전체              3008.279412
2018  102㎡초과          3468.355932
      60㎡이하           3286.184783
      60㎡초과 85㎡이하     3227.458128
      85㎡초과 102㎡이하    3467.184211
      전체              3235.098522
2019  102㎡초과          4039.854839
      60㎡이하           3486.910112
      60㎡초과 85㎡이하     3538.545918
      85㎡초과 102㎡이하    3933.538462
      전체              3515.974490
2020  102㎡초과          4187.566667
      60㎡이하           3615.968750
      60㎡초과 85㎡이하     3594.852941
      85㎡초과 102㎡이하    4532.090909
      전체              3603.911765
Name: 분양가격, dtype: float64

In [59]:
pd.pivot_table(
    df_0_drop,
    index="연도",
    columns="규모구분",
    values="분양가격",
    # aggfunc="mean",
    margins=True
)

규모구분,102㎡초과,60㎡이하,60㎡초과 85㎡이하,85㎡초과 102㎡이하,전체,All
연도,,,,,,
2015,2980.977778,2712.583333,2694.490196,2884.395833,2694.862745,2788.707819
2016,3148.099476,2848.144279,2816.965686,3067.380435,2816.073529,2934.250000
2017,3427.649746,3112.538071,2981.950980,3204.075145,3008.279412,3143.311795
2018,3468.355932,3286.184783,3227.458128,3467.184211,3235.098522,3326.951034
2019,4039.854839,3486.910112,3538.545918,3933.538462,3515.974490,3693.422149
2020,4187.566667,3615.968750,3594.852941,4532.090909,3603.911765,3853.960526
All,3512.853511,3162.964286,3129.318386,3397.964626,3132.281390,3259.583751